.inputForm {
  display: flex;

  place-items: center;
  justify-content: center;
  margin-left: 0.5em;
  padding: 0.5em;
}

.labelForm {
  justify-content: space-between;
  display: flex;
  margin: auto;
  margin-right: 0;
}

.containerButton {
  display: flex;
  justify-content: center;
}

.buttonForm {
  width: 90px;
  border-radius: 8px;
  border-color: #42b2e5;
  border: 1px solid #42b2e5;
  font-size: 0.8em;
  font-weight: 800;
  font-family: inherit;
  background-color: #777373;
  cursor: pointer;
  transition: border-color 0.25s;
}
