.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}

.inputForm {
  text-align: start;
  place-items: center;
  justify-content: center;
  margin-left: 0.5em;
}

.titleForm {
  display: flex;
  justify-content: center;
  text-align: center;
}
.labelForm {
  text-align: center;
  justify-content: space-between;
  display: flex;
  margin: auto;

  padding-bottom: 0.5em;
}

.containerButton {
  display: flex;
  justify-content: center;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonForm {
  width: 90px;
  border-radius: 8px;
  border-color: #42b2e5;
  border: 1px solid #42b2e5;
  font-size: 0.8em;
  font-weight: 800;
  font-family: inherit;
  background-color: #777373;
  cursor: pointer;
  transition: border-color 0.25s;
}
