.wrapper {
  padding: 0em 3em 0 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  /*border: 1px solid lab(72.25% -35.06 59.05);*/
  border: 1px solid #42b2e5;
}

.showButton {
  width: 90px;
  border-radius: 8px;
  border-color: #42b2e5;
  border: 1px solid #42b2e5;
  background-color: #777373;
  font-size: 0.8em;
  font-weight: 800;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
