.container {
  display: flex;
  padding: 0.3rem;
  justify-content: center;
}

.blogContainer {
  margin-top: 0;
  background-color: #42b2e5;
  min-width: 450px;
  width: auto;
}

.blog {
  width: auto;
  display: flexbox;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  align-items: center;
  /*background: content-box border-box no-repeat lch(80.41% 22.97 242.87);*/
  background: content-box border-box no-repeat rgb(255, 255, 255);
}

.title {
  color: rgb(232, 232, 232);
  font-family: monospace;
  font-size: 1.5rem;
}

.paragraph {
  list-style: none;
  font-size: 1.2rem;
  padding: 0px;
  font-family: monospace;
  color: oklab(86.551% -0.01499 0.12415);
  text-align: left;
}

.link {
  color: oklab(86.551% -0.01499 0.12415);
}

.viewButton {
  margin: 0;
  height: 50px;
  width: 90px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-weight: 800;
  font-family: inherit;
  background-color: #d2c859;
  cursor: pointer;
  transition: background-color 0.25s;
}

.viewButton:hover {
  background-color: #e5d014;
}

.likeButton {
  width: 90px;
  border-radius: 8px;
  border: 1px solid #ab0dd2;
  background-color: #bb4ed7;
  font-size: 0.8em;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.25s;
}

.likeButton:hover {
  background-color: #ab0dd2;
}

.buttonRemoveContainer {
  display: flex;
  justify-content: center;
}

.removeButton {
  width: 90px;
  border-radius: 8px;
  border: 1px solid #ef0572;
  background-color: #e53d3d;
  font-size: 0.8em;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.25s;
}

/*likeButton:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

.commentContainer {
  border: 1px solid #42b2e5;
  min-height: 150px;

  height: auto;
}

.commentTitle {
  text-align: center;
  color: #42b2e5;
  font-size: medium;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.comment {
  color: #e74820;
}

.inputForm {
  height: 15px;
  width: 200px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: #e8eef1;
  color: #01beed;
}

.labelForm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: #42b2e5;
  display: flex;
}
